<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script >
      window.location.href="junqi/login.html"
    </script>
  </head>
  <body>
  </body>
</html>
